body {
  background-color: rgb(20, 19, 19);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: rgb(202, 184, 201);
  width: 600px;
  border-radius: 36px;
}

.row {
  display: flex;
}